<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>approval</title>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" >

</head>

<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/manager/approval}">机构注册申请 </a></li>
                <li><a th:href="@{/manager/allschools}">查看所有机构</a></li>
                <li><a th:href="@{/manager/changeapproval}">机构信息修改申请</a></li>
                <li><a th:href="@{/manager/alluser}">查看所有用户</a></li>
                <li><a th:href="@{/manager/statistics}">查看订单数据</a></li>
                <li><a th:href="@{/manager/pricedata}">查看金额统计</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Training College经理

            </h1>

            <div class="row placeholders">

            </div>

            <h2 class="sub-header">机构注册申请</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>机构ID</th>
                        <th>机构名</th>
                        <th>登录密码</th>
                        <th>联系方式</th>
                        <th>注册时间</th>
                        <th>地址</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="registerApproval : ${registerApprovals}">

                        <td th:text="${registerApproval.id}">1234567</td>

                        <td th:text="${registerApproval.name}"></td>

                        <td th:text="${registerApproval.password}"></td>

                        <td th:text="${registerApproval.mail}"></td>

                        <td th:text="${registerApproval.registdate}"></td>

                        <td th:text="${registerApproval.address}"></td>


                        <td><a th:href="@{/manager/add(id=${registerApproval.id})}"><button class="btn btn-large btn-success" type="button">同意</button></a>
                            <a th:href="@{/manager/delete(id=${registerApproval.id})}"><button class="btn btn-large btn-danger" type="button">拒绝</button></a>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/js/jquery.min.js" th:src="@{/jsjquery.min.js}"></script>
<script>window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')</script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../static/js/holder.min.js" th:src="@{/js/jquery.min.js}"></script>
</body>
</html>

