<!DOCTYPE html>
<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>课程列表页面_齐峰教育</title>
    <meta name="keywords" content="齐峰教育">
    <meta name="description" content="齐峰教育">
    <meta name="author" content="山东商讯在线 http://www.sdsoon.com/">
    <link rel="stylesheet" href="../../static/css/qfbase.css" th:href="@{/css/qfbase.css}">
    <!--齐峰的共有样式-->
    <script type="text/javascript" src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" src="../../static/js/qlclass.pl.js" th:src="@{/js/qlclass.pl.js}"></script>
<body>
<!--web-top start-->
<div class="w-all w-minw bd-sd-b hg-45">
    <div class="w-main m-auto">
        <!-- top left start-->

        <div class="hover-topnav fl m-l-45">
            <div class="dh_nav fl fs-12 ftc-000000 line-h45"><span class="dsblock hg-45"><i class="p-l-15 ql_icon dh_topnav hg-45 fl"></i>导航</span>
                <ul class="dh_nav_sub bg-c-ffffff bd-sd-b">
                    <li> <a href="课程列表页面.html"><i class="ql_icon"></i>小学</a> </li>
                    <li> <a href="课程列表页面.html"><i class="ql_icon"></i>初中</a> </li>
                    <li> <a href="课程列表页面.html"><i class="ql_icon"></i>高中</a> </li>
                    <li> <a href="课程列表页面.html"><i class="ql_icon"></i>考研</a> </li>
                    <li> <a href="课程列表页面.html"><i class="ql_icon"></i>名师</a> </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <!--top 导航 end-->
        <!--top wap start-->
    </div>
    <!-- top left end-->
    <!-- top right start-->
    <div class="fr">
        <!--登录注册 start-->
        <div class="fl"> <a class="fs-12 ftc-000000 line-h45" href="user/login.html" th:href="@{/user/login}"><i class="p-l-20 ql_icon login_icon hg-45 fl m-r-10"></i>用户登录</a> <span class="fs-12 ftc-000000 line-h45 m-l-15 m-r-15">|</span>
            <a class="fs-12 ftc-000000 line-h45" href="school/register.html" th:href="@{/user/register}">用户注册</a> <span class="fs-12 ftc-000000 line-h45 m-l-15 m-r-15">|</span>
            <a class="fs-12 ftc-000000 line-h45" href="school/login.html" th:href="@{/school/login}">机构登录</a> <span class="fs-12 ftc-000000 line-h45 m-l-15 m-r-15">|</span>
            <a class="fs-12 ftc-000000 line-h45" href="user/register.html" th:href="@{/school/register}">机构注册</a>

            <a th:unless="${session.user != null}" >Login</a>
        </div>
        <!--登录注册 end-->

        <!--top 客服中心 start-->
        <div class="hover-topkf fl m-l-45">
            <div class="top_kf fl fs-12 ftc-000000 line-h45"><span class="dsblock hg-45">管理员登陆<i class="p-l-10 m-l-10 ql_icon top_kficon hg-45 fr"></i></span>
                <ul class="top_kf_list bg-c-ffffff bd-sd-b">
                    <li> <a href=href="manager/login.html" th:href="@{/manager/login}"><i class="ql_icon"></i>我的名字：admin</a> </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <!--top 客服中心 start-->
    </div>
    <!-- top right end-->
</div>
<!--web-top end-->
<div class="clear"></div>
<!--web logo and search start-->
<div class="w-main m-auto m-t-37 m-b-25 ovhidden">
    <!--web logo start-->
    <a href="index.html" class="logo fl"><h1>trainingcollege</h1></a>
    <!--web logo end-->
    <!--web search start-->
    <div class="search w-540 m-l-115 m-t-15 fl">
        <form action="#" method="get" id="searchform" name="searchform" onSubmit="return checkSearchForm()" class="w-540 search-form">
            <input class="p-l-15 bd-2s-e9511b w-435 line-h35 hg-35 fs-12 ftc-a9a9a9 fl" type="text" name="keywords" id="keyword" value="搜索：初中物理" onfocus="if(this.value == '搜索：初中物理')this.value = ''" onblur="if(this.value == '')this.value='搜索：初中物理'" autocomplete="off">
            <input type="hidden" value="k1" name="dataBi">
            <button type="submit" class="w-85 line-h39 hg-39 fs-16 ftc-ffffff bg-c-e9511b fl">提交</button>
        </form>
        <div class="w-540 fl" id="hotkeywords"> <a href="#" class="dsblock fs-12 ftc-8b8b8b line-h30 fl m-r-20">一年级</a> <a href="#" class="dsblock fs-12 ftc-8b8b8b line-h30 fl m-r-20">二年级</a> <a href="#" class="dsblock fs-12 ftc-8b8b8b line-h30 fl m-r-20">三年级</a> <a href="#" class="dsblock fs-12 ftc-8b8b8b line-h30 fl m-r-20">语文</a> <a href="#" class="dsblock fs-12 ftc-8b8b8b line-h30 fl m-r-20">数学</a>
            <div class="clear"></div>
        </div>
    </div>
    <!--web search end-->
</div>
<!--web logo and search end-->
<!--网站导航 start-->
<div class="w-all w-minw hg-60 bd-bs-e9511b bg-c-ffffff ql_webnav">
    <!--网站导航 start-->
    <div class="w-main m-auto ps-r hg-60">
        <!--全部商品分类-->
        <div class="hc_lnav jslist">
            <div class="allbtn">
                <h2><a href="#">全部课程分类</a></h2>
                <ul style="width:250px" class="jspop box">
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">小学</a> </div>
                        <dl>
                            <dd> <a href="#">一年级</a><span>/</span> <a href="#">二年级</a><span>/</span> <a href="#">三年级</a> <a href="#">四年级</a><span>/</span> <a href="#">五年级</a><span>/</span> <a href="#">六年级</a>  <a href="#">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">一年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">二年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">三年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="#">四年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="#">五年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="#">六年级 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a href="#">特色课程 ></a></dt>
                                <dd> <a class="ui-link" href="#">小升初专题班</a><span>|</span> <a class="ui-link" href="#">小学作文班</a></dd>
                            </dl>

                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">初中</a> </div>
                        <dl>
                            <dd> <a href="#">一年级</a><span>/</span> <a href="#">二年级</a><span>/</span> <a href="#">三年级</a> <a href="#">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">初一 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">初二 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">初三 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">特色课程 ></a></dt>
                                <dd> <a class="ui-link" href="#">中考冲刺班</a><span>|</span> <a class="ui-link" href="#">奥数培训班</a></dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">高中</a> </div>
                        <dl>
                            <dd> <a href="#">一年级</a><span>/</span> <a href="#">二年级</a><span>/</span> <a href="#">三年级</a> <a href="#">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">初一 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">初二 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">初三 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学</a><span>|</span> <a class="ui-link" href="#">语文</a><span>|</span> <a class="ui-link" href="#">英语</a><span>|</span> <a class="ui-link" href="#">地理</a><span>|</span> <a class="ui-link" href="#">政治</a> <a class="ui-link" href="#">生物</a><span>|</span> <a class="ui-link" href="#">历史</a><span>|</span> <a class="ui-link" href="#">物理</a><span>|</span> <a class="ui-link" href="#">化学</a> </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">特色课程 ></a></dt>
                                <dd> <a class="ui-link" href="#">高中数学竞赛班</a><span>|</span> <a class="ui-link" href="#">小高考冲A班</a><span>|</span> <a class="ui-link" href="#">高中作文竞赛班</a> </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a href="#">考研</a> </div>
                        <dl>
                            <dd> <a href="#">数学</a><span>/</span> <a href="#">政治</a><span>/</span> <a href="#">英语</a>  </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a href="#">数学 ></a></dt>
                                <dd> <a class="ui-link" href="#">数学一</a><span>|</span> <a class="ui-link" href="#">数学二</a><span>|</span> <a class="ui-link" href="#">数学三</a>" href="#">政治</a>  </dd>
                            </dl>
                            <dl>
                                <dt><a href="#">政治 ></a></dt>
                                <dd> <a class="ui-link" href="#">肖秀荣专题</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">英语 ></a></dt>
                                <dd> <a class="ui-link" href="#">英语一</a><span>|</span> <a class="ui-link" href="#">英语二</a></dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                </ul>
            </div>
        </div>
        <!--全部商品分类-->
        <ul class="w-950 hg-60 ql_nav">
            <li><a href="index.html" class="cur">首页</a></li>
            <li><a href="课程列表页面.html">小学</a></li>
            <li><a href="双师单页.html">初中</a></li>
            <li><a href="考试日历.html">高中</a></li>
            <li><a href="讲师.html">考研</a></li>
            <li><a href="招商单页.html" class="ql_navhot">名师</a></li>
        </ul>
    </div>
</div>
<!--网站导航 end-->

<!--web main body start-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">

    <!--web main body start-->

    <!--web main bogy top start-->
    <div class="w-main m-auto ovhidden">
        <div class="w-main m-auto bg-c-ffffff ovhidden">
            <!--left img start-->
            <div class="w-450 hg-338 fl"> <img th:src="@{/pics/calsscon.jpg}" src="../../static/pics/calsscon.jpg" width="450" height="338" alt=""/> </div>
            <!--left img end-->
            <!--right info start-->
            <div class="w-680 hg-338 m-l-40 ovhidden ps-r fl">
                <h3 class="w-all fs-24 ftc-000000 m-t-15 m-b-10 line-h36 fl" th:text="${class.name}"></h3>
                <!--info right start-->
                <div class="w-all fl">
                    <ul class="con_rig_class">
                        <li class="w-all fs-14 ftc-000000 line-h40 m-b-10 fl">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：<span class="fs-24 ftc-e9511b" th:text="'￥'+${class.price}">￥1300</span></li>
                        <li class="w-all fs-14 ftc-000000 line-h28 fl" th:text="'开设机构：'+${class.schoolname}"></li>
                        <li class="w-all fs-14 ftc-000000 line-h28 fl" th:text="'老&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;师：'+${class.teachername}"></li>
                        <li class="w-all fs-14 ftc-000000 line-h28 fl" th:text="'课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时：'+${class.week}+'周'"></li>
                        <li class="w-all fs-14 ftc-000000 line-h28 fl" th:text="'班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级：'+${class.classnum}+'个'"></li>
                        <li class="w-all fs-14 ftc-000000 line-h28 fl" th:text="'班级人数：'+${class.studentaclass}"></li>
                        <div class="claer"></div>
                    </ul>
                </div>
                <!--info right end-->
                <div class="standard ps-a pa-b-22"> <a class="dsblock w-140 hg-46 text-c line-h46 bg-c-e9511b ftc-ffffff fs-18 bd-rd-6 m-r-28 fl" href="#" >创建订单</a> </div>
            </div>
            <!--right info end-->
        </div>
        <!--web main bogy top end-->
        <!--分割线-->
        <div class="w-amin hg-30 ovhidden"></div>
        <!--分割线-->
        <div class="w-main ovhidden">
            <ul class="w-1140 p-l-30 p-r-30 p-t-13 p-b-13 ovhidden bg-c-ffffff ql_classtab m-b-2">
                <li class="fl"> <a href="javascript:;" class="w-110 fs-16 ftc-000000 line-h30 hg-30 text-c ft-w-b m-r-20 tabcur">课程总览</a> </li>
                </ul>
            <!--课程总览 start-->
            <div class="w-1140 p-l-30 p-r-30 bg-c-ffffff p-b-30 ovhidden">
                <h3 class="fs-16 ft-w-b ftc-e9511b line-26 p-l-15 m-t-15 m-b-15 line_h3 fl">课程介绍</h3>
                <div class="w-1115 p-l-15 fs-16 line-h26 ftc-636363 fl" th:text="${class.description}"><br/>
                    <br/>
                </div>

                <h3 class="fs-16 ft-w-b ftc-e9511b line-26 p-l-15 m-t-15 m-b-15 line_h3 fl">开课时间</h3>
                <div class="w-1115 p-l-15 fs-16 line-h26 ftc-636363 fl" th:text="${class.begintime}+'起'"><br/>
                    <br/>
                </div>
                <div class="w-1115 p-l-15 fs-16 line-h26 ftc-636363 fl" th:text="${class.daytime}"><br/>
                    <br/>
                </div>

                <h3 class="fs-16 ft-w-b ftc-e9511b line-26 p-l-15 m-t-15 m-b-15 line_h3 fl">名师简介</h3>
                <div class="w-1115 p-l-15 fs-16 line-h26 ftc-636363 fl" th:text="${class.teacherdescription}"><br/>
                    <br/>
                </div>
                </div>
            <!--课程总览 end-->
            <!--分割线-->
            <div class="w-amin hg-30 ovhidden"></div>
            <!--分割线-->
            <div class="w-main m-auto" id="ql_plistcon">
                <div class="w-1140 p-l-30 p-r-30 bg-c-ffffff ovhidden">
                    <h3 class="fs-16 ft-w-b ftc-e9511b line-26 p-l-15 m-t-15 m-b-15 line_h3 fl">期待你的加入</h3>
                    <script type="text/javascript" src="../../static/js/qlclass.pl.js"></script>

                </div>
            </div>
        </div>
        <div class="w-all hg-60 fl"></div>
        <!--web main body end-->
    </div>
</div>


</body>
</html>