<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>个人信息</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" >

</head>

<body>


<div class="container-fluid">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="row placeholders">
        </div>
        <h2 class="sub-header">TrainingCollege   Bank</h2>

        <a th:href="@{/index}"><h3 class="sub-header">暂不支付，返回首页</h3></a>

        <div class="person_info">
            <h3>支付订单</h3>
            <table class="table table-bordered table-striped">
                <tr>

                <tr>
                    <th>总价格</th>
                    <td th:text="${order.totalprice}">高等数学</td>
                </tr>

                <tr>
                    <th>银行账号</th>
                    <td th:text="${order.bankaccount}">高等数学</td>
                </tr>


                </tr>
            </table>
        </div>

        <form class="form-horizontal" method="post" role="form" action="register.html" th:action="@{/user/pay}">



            <label class="col-sm-2 control-label">银行密码</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="password"
                       name="password">
            </div>


            <label class="col-sm-2 control-label"></label>

            <label  class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
                <button class="btn btn-lg btn-success btn-block" type="submit">确认</button>

            </div>
        </form>


    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script>window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')</script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../static/js/holder.min.js" th:src="@{/js/jquery.min.js}"></script>
</body>
</html>

