
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>TrainingCollege首页</title>

    <link rel="stylesheet" href="../static/css/qfbase.css" th:href="@{/css/qfbase.css}">
    <link rel="stylesheet" href="../static/css/ql_index.css" th:href="@{/css/ql_index.css}">
    <script type="text/javascript" src="../static/js/jquery-1.11.3.min.js" th:src="@{js/jquery-1.11.3.min.js}"></script>
<body>
<!--web-top start-->
<div class="w-all w-minw bd-sd-b hg-45">
    <div class="w-main m-auto">
        <!-- top left start-->

        <div class="hover-topnav fl m-l-45">
            <div class="dh_nav fl fs-12 ftc-000000 line-h45"><span class="dsblock hg-45"><i class="p-l-15 ql_icon dh_topnav hg-45 fl"></i>导航</span>
                <ul class="dh_nav_sub bg-c-ffffff bd-sd-b">
                    <li> <a th:href="@{/user//searchclass(label=${'小学'})}"><i class="ql_icon"></i>小学</a> </li>
                    <li> <a th:href="@{/user//searchclass(label=${'初中'})}"><i class="ql_icon"></i>初中</a> </li>
                    <li> <a th:href="@{/user//searchclass(label=${'高中'})}"></i>高中</a> </li>
                    <li> <a th:href="@{/user//searchclass(label=${'考研'})}"><i class="ql_icon"></i>考研</a> </li>
                    <li> <a th:href="@{/user//searchclass(label=${'名师'})}"><i class="ql_icon"></i>名师</a> </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <!--top 导航 end-->
        <!--top wap start-->
    </div>
    <!-- top left end-->
    <!-- top right start-->
    <div class="fr">
        <!--登录注册 start-->
        <div class="fl"> <a class="fs-12 ftc-000000 line-h45" href="user/login.html" th:href="@{/user/login}"><i class="p-l-20 ql_icon login_icon hg-45 fl m-r-10"></i>用户登录</a> <span class="fs-12 ftc-000000 line-h45 m-l-15 m-r-15">|</span>
                         <a class="fs-12 ftc-000000 line-h45" href="school/register.html" th:href="@{/user/register}">用户注册</a> <span class="fs-12 ftc-000000 line-h45 m-l-15 m-r-15">|</span>
                         <a class="fs-12 ftc-000000 line-h45" href="school/login.html" th:href="@{/school/login}">机构登录</a> <span class="fs-12 ftc-000000 line-h45 m-l-15 m-r-15">|</span>
                         <a class="fs-12 ftc-000000 line-h45" href="user/register.html" th:href="@{/school/register}">机构注册</a>

            <a th:unless="${session.user != null}" >Login</a>
        </div>
        <!--登录注册 end-->

        <!--top 客服中心 start-->
        <div class="hover-topkf fl m-l-45">
            <div class="top_kf fl fs-12 ftc-000000 line-h45"><span class="dsblock hg-45">管理员登陆<i class="p-l-10 m-l-10 ql_icon top_kficon hg-45 fr"></i></span>
                <ul class="top_kf_list bg-c-ffffff bd-sd-b">
                    <li> <a href=href="manager/login.html" th:href="@{/manager/login}"><i class="ql_icon"></i>我的名字：admin</a> </li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <!--top 客服中心 start-->
    </div>
    <!-- top right end-->
</div>
</div>




<!--web-top end-->
<div class="clear"></div>
<!--web logo and search start-->
<div class="w-main m-auto m-t-37 m-b-25 ovhidden">
    <!--web logo start-->
    <a th:href="@{/index}" class="logo fl"><h1>trainingcollege</h1></a>
    <!--web logo end-->
    <!--web search start-->
    <div class="search w-540 m-l-115 m-t-15 fl">
        <form th:action="@{/user/searchclass}" method="post" id="searchform" name="searchform"  class="w-540 search-form">
            <input class="p-l-15 bd-2s-e9511b w-435 line-h35 hg-35 fs-12 ftc-a9a9a9 fl" type="text" name="label" id="label" placeholder="大学" >
            <button type="submit" class="w-85 line-h39 hg-39 fs-16 ftc-ffffff bg-c-e9511b fl">提交</button>
        </form>
        <div class="w-540 fl" id="hotkeywords"> <a th:href="@{/user/searchclass(label=${'大学'})}" class="dsblock fs-12 ftc-8b8b8b line-h30 fl m-r-20">大学</a>  <a th:href="@{/user/searchclass(label=${'数学'})}" class="dsblock fs-12 ftc-8b8b8b line-h30 fl m-r-20">数学</a>
            <div class="clear"></div>
        </div>
    </div>

</div>
<!--web logo and search end-->
<!--网站导航 start-->
<div class="w-all w-minw hg-60 bg-c-ffffff ql_webnav">
    <div class="w-main m-auto ps-r hg-60">
        <!--全部商品分类-->
        <div class="hc_lnav jslist">
            <div class="allbtn">
                <h2><a th:href="@{/index}">全部课程分类</a></h2>
                <ul style="width:250px" class="jspop box">
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a th:href="@{/user/searchclass(label=${'小学'})}">小学</a> </div>
                        <dl>
                            <dd> <a th:href="@{/user/searchclass(label=${'小学一年级'})}">一年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'小学二年级'})}">二年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'小学三年级'})}">三年级</a> <a th:href="@{/user/searchclass(label=${'小学四年级'})}">四年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'小学五年级'})}">五年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'小学六年级'})}">六年级</a>  <a th:href="@{/user/searchclass(label=${'小学特色课程'})}">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'小学一年级'})}">一年级 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'一年级数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'一年级语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'一年级英语'})}">英语</a></dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'小学二年级'})}">二年级 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'二年级数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'二年级语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'二年级英语'})}">英语</a></dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'小学三年级'})}">三年级 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'三年级数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'三年级语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'三年级英语'})}">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'小学四年级'})}">四年级 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'四年级数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'四年级语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'四年级英语'})}">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'小学五年级'})}">五年级 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'五年级数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'五年级语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'五年级英语'})}">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'小学六年级'})}">六年级 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'六年级数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'六年级语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'六年级英语'})}">英语</a></dd>
                            </dl>

                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'小学特色课程'})}">特色课程 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'小升初专题班'})}">小升初专题班</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'小学作文班'})}">小学作文班</a></dd>
                            </dl>

                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a th:href="@{/user/searchclass(label=${'初中'})}">初中</a> </div>
                        <dl>
                            <dd> <a th:href="@{/user/searchclass(label=${'初一'})}">一年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'初二'})}">二年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'初三'})}">三年级</a> <a th:href="@{/user/searchclass(label=${'初中特色课程'})}">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'初一'})}">初一 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'初一数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初一语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初一英语'})}">英语</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初一地理'})}">地理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初一政治'})}">政治</a> <a class="ui-link" th:href="@{/user/searchclass(label=${'初一生物'})}">生物</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初一历史'})}">历史</a> </dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'初二'})}">初二 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二英语'})}">英语</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二地理'})}">地理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二政治'})}">政治</a> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二生物'})}">生物</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二历史'})}">历史</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初二物理'})}">物理</a> </dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'初三'})}">初三 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三英语'})}">英语</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三地理'})}">地理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三政治'})}">政治</a> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三生物'})}">生物</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三历史'})}">历史</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三物理'})}">物理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'初三化学'})}">化学</a> </dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'初中特色课程'})}">特色课程 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'中考冲刺班'})}">中考冲刺班</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'奥数培训班'})}">奥数培训班</a></dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a th:href="@{/user/searchclass(label=${'高中'})}">高中</a> </div>
                        <dl>
                            <dd> <a th:href="@{/user/searchclass(label=${'高一'})}">一年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'高二'})}">二年级</a><span>/</span> <a th:href="@{/user/searchclass(label=${'高三'})}">三年级</a> <a th:href="@{/user/searchclass(label=${'高中特色课程'})}">特色课程</a> </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'高一'})}">高一 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一英语'})}">英语</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一地理'})}">地理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一政治'})}">政治</a> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一生物'})}">生物</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一历史'})}">历史</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一物理'})}">物理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高一化学'})}">化学</a> </dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'高二'})}">高二 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二英语'})}">英语</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二地理'})}">地理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二政治'})}">政治</a> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二生物'})}">生物</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二历史'})}">历史</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二物理'})}">物理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高二化学'})}">化学</a></dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'高三'})}">高三 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三数学'})}">数学</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三语文'})}">语文</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三英语'})}">英语</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三地理'})}">地理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三政治'})}">政治</a> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三生物'})}">生物</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三历史'})}">历史</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三物理'})}">物理</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高三化学'})}">化学</a> </dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'高中特色课程'})}">特色课程 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'高中数学竞赛班'})}">高中数学竞赛班</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'小高考冲A班'})}">小高考冲A班</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'高中作文竞赛班'})}">高中作文竞赛班</a> </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                    <!--导航-->
                    <li class="a1">
                        <div class="tx"><a th:href="@{/user/searchclass(label=${'考研'})}">考研</a> </div>
                        <dl>
                            <dd> <a th:href="@{/user/searchclass(label=${'考研数学'})}">数学</a><span>/</span> <a th:href="@{/user/searchclass(label=${'考研政治'})}">政治</a><span>/</span> <a th:href="@{/user/searchclass(label=${'考研英语'})}">英语</a>  </dd>
                        </dl>
                        <div class="pop">
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'考研数学'})}">数学 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'数学一'})}">数学一</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'数学二'})}">数学二</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'数学三'})}">数学三</a> </dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'考研政治'})}">政治 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'肖秀荣'})}">肖秀荣专题</a></dd>
                            </dl>
                            <dl>
                                <dt><a th:href="@{/user/searchclass(label=${'考研英语'})}">英语 ></a></dt>
                                <dd> <a class="ui-link" th:href="@{/user/searchclass(label=${'英语一'})}">英语一</a><span>|</span> <a class="ui-link" th:href="@{/user/searchclass(label=${'英语二'})}">英语二</a>  </dd>
                            </dl>
                            <div class="clr"></div>
                        </div>
                    </li>
                    <!--导航-->
                </ul>
            </div>
        </div>
        <!--全部商品分类-->
        <ul class="w-950 hg-60 ql_nav">
            <li><a href="index.html" class="cur">首页</a></li>
            <li><a th:href="@{/user/searchclass(label=${'小学'})}">小学</a></li>
            <li><a th:href="@{/user/searchclass(label=${'初中'})}">初中</a></li>
            <li><a th:href="@{/user/searchclass(label=${'高中'})}">高中</a></li>
            <li><a th:href="@{/user/searchclass(label=${'考研'})}">考研</a></li>
            <!--<li><a th:href="@{/user/searchclass(label=${'小学'})}" class="ql_navhot">名师</a></li>-->
        </ul>
    </div>
</div>
<!--网站导航 end-->
<!--web banner start-->
<div class="w-all w-minw banner ps-r">
    <div id="full-screen-slider">
        <ul id="slides">
            <img th:src="@{/pics/2.jpg}" width="1450" height="400" class="img-responsive" alt="Generic placeholder thumbnail">
        </ul>
    </div>

</div>
<script type="text/javascript" src="js/banner.index.js" th:src="@{js/banner.index.js}"></script>
<!--web banner end-->
<!--web home main-body start-->
<div class="w-all w-minw bg-c-fcfcfc ovhidden">
    <!--hot_news start-->
    <div class="w-main m-auto">
        <!--title start-->

        <!--分割线 start-->
        <!--精选课程 start-->
        <div class="w-main m-auto">
            <!--title start-->
            <div class="w-main m-t-15 ovhidden fl">
                <h3 class="fl fs-20 ft-w-b line-h50"><span class="dsblock ql_icon ql_h_class tx-ind m-r-15 fl">精选课程</span>精选课程</h3>
                <a href="课程列表页面.html" class="fr fs-14 ftc-000000 line-h50">查看更多></a> </div>
            <!--title end-->
        </div>

        <div class="w-main m-auto">
            <ul class="home_calss w-1224 ovhidden">

                <li class="w-280 m-l-13 m-r-13 bg-c-ffffff m-t-8 m-b-23 fl" th:each="class : ${classes}"> <a th:href="@{/user/classinfo(id=${class.id})}" class="dsblock w-280 hg-200 ovhidden ps-r"> <img th:src="@{/pics/12.jpg}" src="pics/12.jpg" alt=""/> </a>
                    <div class="w-255 p-l-10 p-r-15 fl">
                        <div class="home_calsstxt w-155 fl">
                            <h3 class="w-all fs-16 ftc-000000 line-h32  one_hidden  m-t-6 fl" th:text="${class.name}">高中数学提高班高中数学提高班</h3>
                            <span class="dsblock w-all fs-14 ftc-ff0000 line-h32 fl" th:text="'￥'+${class.price}">班   容：3人开班</span> </div>
                        <a th:href="@{/user/classinfo(id=${class.id})}" class="dsblock ql_icon hg-34 line-h34 fs-14 ftc-ffffff m-t-22 ql_h_btnfr w-86 text-c fr">立即参入</a> </div>
                </li>

                <div class="clear"></div>
            </ul>
        </div>
        <!--精选课程 end-->
        <!--分割线 start-->
        <div class="w-main m-auto">
            <div class="w-main fl hg-11"></div>
            <div class="w-main fl hg-1 bg-c-e5e5e5"></div>
            <div class="w-main fl hg-8"></div>
        </div>
        <!--分割线 start-->
        <!--名师团队 start-->
        <div class="w-main m-auto">
            <!--title start-->
            <div class="w-main m-t-15 ovhidden fl">
                <h3 class="fl fs-20 ft-w-b line-h50"><span class="dsblock ql_icon ql_h_tea tx-ind m-r-15 fl">名师团</span>名师团</h3>
                <a href="讲师.html" class="fr fs-14 ftc-000000 line-h50">查看更多></a> </div>
            <!--title end-->
        </div>
        <div class="w-main m-auto">
            <ul class="home_tearch w-main ovhidden">

                <li th:each="teacher : ${teachers}">
                    <div class="h_tea_img w-120"> <a href="讲师详情.html" class="dsblock"><img th:src="@{/pics/13.jpg}" src="pics/13.png" alt=""/></a>
                        <p class="w-all fl fs-14 ft-w-b ftc-000000 text-c line-h30"  th:text="${teacher.name}">齐峰</p>
                    </div>

                    <div class="w-200 fl">
                        <h3 class="fs-14 fl ftc-000000 line-h22"  th:text="${teacher.description}">疯狂老师硅谷级名师</h3>
                    </div>


                </li>

                <div class="clear"></div>
            </ul>
            <!--分割线 start-->
            <div class="w-main m-auto hg-60"></div>
            <!--分割线 start-->
        </div>
        <!--名师团队 end-->
    </div>
    <!--web home main-body end-->

    <!--web footer start-->

</div>
<script>
    $(document).ready(function(){
        var w = parseInt(($(window).width()-1200)/2);
        $(".qlban_ad").css("right",w)
    });

</script>
</body>
</html>