<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>会员信息</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}" >

</head>

<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/school/schoolinfo}">机构信息</a></li>
                <li><a th:href="@{/school/schoolclass}">机构已有课程</a></li>
                <li><a th:href="@{/school/schoolteacher}">查看机构老师</a></li>
                <li><a th:href="@{/school/addclass}">添加新的课程</a></li>
                <li><a th:href="@{/school/addteacher}">添加新的老师</a></li>
                <li><a th:href="@{/school/addmark}">添加签到和成绩</a></li>
                <li><a th:href="@{/school/modifyinfo}">修改机构信息</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="row placeholders">
        </div>
        <h2 class="sub-header">为学生打分</h2>

        <form class="form-horizontal" method="post" role="form"  th:action="@{/school/addmark}">

            <div class="form-group">
                <label for="userid" class="col-sm-2 control-label">学生id</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="userid"
                           name="userid">
                </div>
            </div>


            <div class="form-group">
                <label for="classid" class="col-sm-2 control-label">课程id</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="classid"
                           name="classid">
                </div>
            </div>

            <div class="form-group">
                <label for="classname" class="col-sm-2 control-label">课程名</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="classname"
                           name="classname">
                </div>
            </div>


            <div class="form-group">
                <label for="score" class="col-sm-2 control-label">成绩</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="score"
                           name="score">
                </div>
            </div>


            <div class="col-sm-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
            </div>





        </form>

    </div>
</div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script>window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')</script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/jquery.min.js}"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../static/js/holder.min.js" th:src="@{/js/jquery.min.js}"></script>
</body>
</html>

