<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 页内 全局起始路径 -->
    <base href="${basePath}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>注册</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <!-- Jquery 依赖 -->
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script
            src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>

<form class="form-horizontal" method="post" role="form" action="register.html" th:action="@{school/register}">
    <fieldset>
        <legend>注册账号</legend>
    </fieldset>

    <h2>机构账号将在审批后自动生成</h2>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">机构名称：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="name"
                   name="name">
        </div>
        <div style="display: inline">
            <label class="help-block">请填写全名</label>
        </div>
    </div>

    <div class="form-group">
        <label for="mail" class="col-sm-2 control-label">Email：</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" name="mail" id="mail"
                   placeholder="Email">
        </div>
        <div style="display: inline">
            <label class="help-block">用于接收审批消息</label>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码：</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="password"
                   name="password">
        </div>
        <div style="display: inline">
            <label class="help-block">6-16位字母、数字、符号、区分大小写</label>
        </div>
    </div>

    <div class="form-group">
        <label for="conpsw" class="col-sm-2 control-label">再输一次：</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="conpsw">
        </div>
    </div>






    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">机构地址：</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="address"
                   name="address">
        </div>
        <div style="display: inline">
            <label class="help-block">请详细填写</label>
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--<label for="IdentificationCard" class="col-sm-2 control-label">身份证号：</label>-->
    <!--<div class="col-sm-4">-->
    <!--<input type="text" class="form-control" id="IdentificationCard">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<label for="email" class="col-sm-2 control-label">Email：</label>-->
    <!--<div class="col-sm-4">-->
    <!--<input type="email" class="form-control" id="email"-->
    <!--placeholder="Email">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<label for="address" class="col-sm-2 control-label">地址：</label>-->
    <!--<div class="col-sm-4">-->
    <!--<input type="text" class="form-control" id="address">-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
    <!--<div class="col-sm-offset-2 col-sm-3">-->

    <!--<div class="checkbox">-->
    <!--<label><input type="checkbox">我已阅读并接受</label> <a href="#"-->
    <!--style="text-decoration: underline;" target="_blank">注册条款</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
</form>
</body>
</html>
